[submodule "infovis_NBA"]
	path = infovis_NBA
	url = https://github.com/gabmarini/infovis_NBA.git
[submodule "infovis_NBA_API"]
	path = infovis_NBA_API
	url = https://github.com/gabmarini/infovis_NBA_API.git
